
 <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">Documento:</th>
                <th scope="col">Nombre del paciente:</th>
                <th scope="col">Teléfono: </th>
                <th scope="col">Dirección: </th>
                <th scope="col">Sexo:</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let paciente of Pacientes">
                <td>{{paciente.numero}}</td>
                <td>{{paciente.nombre}} {{paciente.apellido}}</td>
                <td>{{paciente.telefono}}</td>
                <td>{{paciente.direccion}}</td>
                <td>{{paciente.sexo}}</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success" routerLink="/historia-clinica">Agregar Hisrotia</button><button type="button" class="btn btn-primary" routerLink="/tablero">Regresar</button><br><br>
    
    <div class="card text-white" style="background-color: rgb(114, 186, 189);">
        <div class="card-body">
         <table class="table">
           <thead>
             <tr>
               <th scope="col">Motivo de consulta</th>
               <th scope="col">Enfermedad actual</th>
               <th scope="col">Cabeza</th>
               <th scope="col">Cuello</th>
               <th scope="col">Torax</th>
               <th scope="col">Abdomen</th>
               <th scope="col">Pelvis</th>
               <th scope="col">Extremidades</th>
               <th scope="col">Temp</th>
               <th scope="col">P.A</th>
               <th scope="col">F.C</th>
               <th scope="col">F.R</th>
               <th scope="col">PU</th>
               <th scope="col">Peso</th>
               <th scope="col">Talla</th>
               <th scope="col">IMC</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let historia of Historias">
               <th>{{historia.mconsulta}}</th>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
             </tr>
           </tbody>
         </table>
        </div>
      </div>
      
