
 <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">Documento:</th>
                <th scope="col">Nombre del paciente:</th>
                <th scope="col">Teléfono: </th>
                <th scope="col">Dirección: </th>
                <th scope="col">Sexo:</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let paciente of Pacientes">
                <td>{{paciente.numero}}</td>
                <td>{{paciente.nombre}} {{paciente.apellido}}</td>
                <td>{{paciente.telefono}}</td>
                <td>{{paciente.direccion}}</td>
                <td>{{paciente.sexo}}</td>
            </tr>
        </tbody>
        <thead>
          <tr>
              <th scope="col">Correo:</th>
              <th scope="col">Fecha de nacimiento:</th>
              <th scope="col">Edad: </th>
              <th scope="col">Contrato: </th>
              <th scope="col">Ciudad:</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of Pacientes">
            <td>{{paciente.correo}}</td>
            <td>{{paciente.fecha}}</td>
            <td>{{paciente.edad}}</td>
            <td>{{paciente.contrato}}</td>
            <td>{{paciente.ciudad}}</td>
        </tr>
    </tbody>
    </table>
    <button type="button" class="btn btn-success" routerLink="/historia-clinica">Agregar Hisrotia</button><button type="button" class="btn btn-primary" routerLink="/tablero">Regresar</button><br><br>
    
    <div class="card text-white" style="background-color: rgb(114, 186, 189);">
        <div class="card-body">
          <app-listarhc></app-listarhc>
        
        </div>
      </div>
      
