<table class="table">
    <thead>
      <tr>
        <th scope="col">Motivo de consulta</th>
        <th scope="col">Enfermedad actual</th>
        <th scope="col">Cabeza</th>
        <th scope="col">Cuello</th>
        <th scope="col">Torax</th>
        <th scope="col">Abdomen</th>
        <th scope="col">Pelvis</th>
        <th scope="col">Extremidades</th>
        <th scope="col">Temp</th>
        <th scope="col">P.A</th>
        <th scope="col">F.C</th>
        <th scope="col">F.R</th>
        <th scope="col">PU</th>
        <th scope="col">Peso</th>
        <th scope="col">Talla</th>
        <th scope="col">IMC</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let historia of Historias">
        <th>{{historia.mconsulta}}</th>
        <td>{{historia.eactual}}</td>
        <td>{{historia.cabeza}}</td>
        <td>{{historia.cuello}}</td>
        <td>{{historia.rorax}}</td>
        <td>{{historia.abdomen}}</td>
        <td>{{historia.pelvis}}</td>
        <td>{{historia.extremidades}}</td>
        <td>{{historia.temp}}</td>
        <td>{{historia.pa}}</td>
        <td>{{historia.fc}}</td>
        <td>{{historia.fr}}</td>
        <td>{{historia.pu}}</td>
        <td>{{historia.peso}}</td>
        <td>{{historia.talla}}</td>
        <td>{{historia.imc}}</td>
      </tr>
    </tbody>
  </table>
